.container{
    width: 440px;
    margin: auto;
    margin-top: 90px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 20px 30px;
}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container h2{
    font-size: 27px;
    font-weight: 500;  
}
.container ul li{
    display: flex;
    align-items: center;
    height: 35px;
    padding-left: 12px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 14px;
    font-size: 20px;
    cursor: pointer;
}
.container button{
    margin: auto;
    width: 220px;
    height: 55px;
    background: #553f9a;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container .index{
    margin: auto; 
    font-size: 18px;
}
.container .correct{
    background: #dffff2;
    border-color: #00d397;
}
.container .wrong{
    background: #ffebeb;
    border-color: #FF4A4A;
}